:javascript
  activateNavigation("index");

%h2 Projects

%table.projects
  %thead
    %tr
      %th Project
      %th Errors
      %th Warnings
      %th Events
  %tbody
    - projects.each do |project|
      %tr[project]
        %td= link_to project.name, project
        %td 1
        %td 1
        %td 1
