= render "projects/header", :project => @project, :tab => "errors"

#foozing{data("chart", project_chart_path(@project, :errors))}

%table.table.table-striped.errors
  %thead
    %tr
      %th Message
      %th Date
  %tbody
    - @airbrake_errors.order(:occurred_at).reverse_order.each do |error|
      %tr
        %td.ellipsis= error.error_message
        %td.date= I18n.l error.occurred_at
