.container
  width: 1230px

#main
  margin-top: 60px


iframe
  width: 100%
  height: 700px


.iframes
  margin-left: 180px
  .new
    list-style-type: circle

.ellipsis
  text-overflow: ellipsis

.table.errors .date
  white-space: nowrap
  text-align: right
