.container
  width: 1230px

#main
  margin-top: 60px


iframe
  width: 100%
  height: 700px


.iframes
  margin-left: 180px
  .new
    list-style-type: circle

.table.errors
  .date
    white-space: nowrap
    text-align: right
  .message
    .ellipsis
      width: 980px

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
